<% include partials/header %>

<h2><%= campground.name %></h2>
<img style="width: 400px" src="<%=campground.image%>">
<p><%= campground.description %></p>
<a href="/campgrounds">Back To All Campgrounds</a>

<% include partials/footer %>
